main {
    .about-bg {
        height: 80vh;
        width: 80vw;
        margin: 0 auto;
        font-family: 'DungGeunMo';
    }
    p {
        text-align: left;
        font-size: 25px;
        letter-spacing: 5px;
        word-spacing: 5px;
        font-style: italic;
        background-color: black;
        border-radius: 10px;
        margin: 20px;
    }
}