body {
    height: 100vh;
  }

.main {
    .main__uploader {
        display: flex;
    }
    .uploader-profile img {
        width: 50px;
        border-radius: 50%;
        margin-right: 5px;
    }
    .uploader-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
    }
    .uploader-info__artist {
        font-family: 'Stalinist One', cursive;
        color: $pink;
    }   
    .uploader-info__date {
        font-size: 12px;
    }
    // .title-text {
    //     padding: 200px 80px;
    //     font-size: 30px;
    //     font-family: 'LeferiPoint-BlackObliqueA';
    //     letter-spacing: 20px;
    // }

    .title-info {
        display: flex;
        flex-direction: row;
        gap: 40px;
        font-size: 12px;
    }
    .title-info__view i {
        margin-right: 7px;
    }
    .title-info__comment i {
        margin-right: 7px;
    }
    .main__title button {
        margin: 50px 0 70px 0;
        -webkit-appearance: none;
        background: transparent;
        border: none;
        background-color: white;
        color: black;
        padding: 20px;
        border-radius: 10px;
        font-size: 14px;
        font-weight: 600;
        cursor: pointer;
    }

    @import url('https://fonts.googleapis.com/css?family=Fira+Mono:400');


    .title-test {
        animation: glitch 1s linear infinite;
        padding: 200px 80px;
        font-size: 30px;
        font-family: 'LeferiPoint-BlackObliqueA';
        letter-spacing: 20px;
    }

    @keyframes glitch{
        2%,64%{
            transform: translate(2px,0) skew(0deg);
        }
        4%,60%{
            transform: translate(-2px,0) skew(0deg);
        }
        62%{
            transform: translate(0,0) skew(5deg); 
        }
    }

    .title-test:before,
    .title-test:after{
        content: attr(title);
        position: absolute;
        left: 0;
    }

    .title-test:before{
        animation: glitchTop 1s linear infinite;
        clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
    }

    @keyframes glitchTop{
        2%,64%{
            transform: translate(2px,-2px);
        }
        4%,60%{
            transform: translate(-2px,2px);
        }
        62%{
            transform: translate(13px,-1px) skew(-13deg); 
        }
    }

    .title-test:after{
        animation: glitchBotom 1.5s linear infinite;
        clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
        -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
    }

    @keyframes glitchBotom{
        2%,64%{
            transform: translate(-2px,0);
        }
        4%,60%{
            transform: translate(-2px,0);
        }
        62%{
            transform: translate(-22px,5px) skew(21deg); 
        }
    }

}