include mixins/message

doctype html
html(lnag="ko")
    head
        title #{pageTitle} | Newtube
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css")
        link(rel="stylesheet", href="/static/css/styles.css")
        link(rel="shortcut icon" href="https://i.pinimg.com/564x/7c/8b/47/7c8b47078e2445671ea9f466c3b08b54.jpg")
        
    body 
        if messages.error
            +message("error", messages.error)
        if messages.info
            +message("info", messages.info)
        if messages.success
            +message("sucess", messages.success)
        include partials/header
        main
            block content
        include partials/footer.pug
    script(src="/static/js/main.js") 
    block scripts