extends base.pug
include mixins/video

block content 
    div.main
        div.main__uploader 
        div.main__title
        div.main__upload__info
    div.video-grid
        each video in videos
            +video(video)
        else
            span.empty__message No videos found
