extends base.pug
include mixins/video

block content 
    div.main
        div.main__uploader 
            div.uploader-profile
                img(src="https://i.pinimg.com/564x/7c/8b/47/7c8b47078e2445671ea9f466c3b08b54.jpg")
            div.uploader-info
                div.uploader-info__artist 
                    span NEW JEANS
                div.uploader-info__date
                    span 18 August 2022
        div.main__title
            div.title-text 
                span HYPE BOY 
                //- img(src="img/title.png")
            div.title-info 
                div.title-info__view
                    i.fas.fa-eye
                    span 7,747,231
                div.title-info__comment
                    i.fas.fa-comment
                    span 4,828
            button(name="ViewBtn" onclick="location.href='https://youtu.be/11cta61wi0g';") View Now
    div.video-grid
        each video in videos
            +video(video)
        else
            span.empty__message No videos found
