header
    div.header__left
        a(href="/").header__logo
            img.header__logo__img(src="https://w.namu.la/s/6cb5cce783ec3c02bda9f8f7f742d5186bd7a2f93fe474544139357e61ac8bb912f8d73d41e90fe9bd5b17498c36a6def9e4a85fc385acf5e6a72896ce85ee94f06f12e953c7bac97257c1a29ca1121cde991eec9c6aad26d6cb6892b89edf01")
            //- i.fab.fa-youtube
        ul
            li.header-home 
                a(href="/") Home
            li
                a(href="/search") Search
                        //- i.fas.fa-search
            li
                a(href="#") Subscription
            li
                a(href="/about") About
    nav
        ul
            if loggedIn
                li
                    a(href="/videos/upload") *ﾟ+.*.｡ Video Booth *ﾟ+.*.｡
                li
                    a(href="/users/edit") Mypage
                li.logout
                    a(href="/users/logout")  Log Out
                li
                    a(href=`/users/${loggedInUser._id}`)
                        if loggedInUser.avatarUrl === ""
                            span 😀
                        else
                            if loggedInUser.socialOnly.includes("github")
                                img.header__avatar(src=loggedInUser.avatarUrl)
                            else
                                img.header__avatar(src="/" + loggedInUser.avatarUrl)
            else
                li
                    a(href="/login")  Login                        
                li
                    a(href="/join").header__btn  Join